@{
    ViewData["Title"] = "Home Page";
    @model BookListViewModel;
}

<div class="text-center">
    <h1 class="display-4">@ViewBag.Title</h1>
</div>
<div>
    @foreach (var book in Model.BookList)
    {
        <div>@book.Title</div>
    }
</div>
<div page-info="@Model.PageInfo" page-action="Index"></div>
