@{
    ViewData["Title"] = "Books";
    @model BookListViewModel;
}

<div class="text-center">
    <h1 class="display-4">@ViewBag.Title</h1>
</div>
<div class="row">
    @* Filter Builder *@
    <div class="col-3 sticky-top h-vh">
        <div class="d-flex flex-column h-100 justify-content-between"> @* Create space between the pagination and categories*@
            <div>
                <h4 class="mt-4 mb-2">Categories</h4>
                <vc:categories></vc:categories>
            </div>
           
            <div class="page-navigation" page-info="@Model.PageInfo" page-action="Index"></div>
        </div>
        
    </div>
    @* Book Cards *@
    <div class="col-9">
    @foreach (var book in Model.BookList)
    {
        <partial name="BookSummary" model="book" />
    }
    </div>
</div>