main {
    min-height: 50vh;
    position: relative;
}

.p-relative {
    position: relative;
}

.h-min-content {
    height: min-content;
}

.h-vh {
 height: calc(100vh - 67px - 57px - 60px); /*viewport - header - navbar - footer. Hacky, yes. But I don't want to rework all the asp.net default styling. */
}

.f-1_half {
    font-size: 1.5rem;
}

.filter-item {
    font-size: 1.3rem;
    font-weight: 400;
    color: var(--dark);
}
    .filter-item:hover, .filter-item.active {
        text-decoration: none;
        color: var(--cyan);
    }

.add-to-cart {
    position: absolute;
    bottom: 24px;
    right: 24px;
}

.cart-total {
    line-height: 100%;
    text-align: center;
}