@page
@{
}

<div class="text-center my-4">
    <h2>Something went wrong...</h2>
    <h4>Reach out to support at <a href="mailto:shadwritescode@gmail.com">shadwritescode@gmail.com</a></h4>
    <a class="my-3 btn btn-primary" asp-controller="Home" asp-action="Index">Home</a>
</div>