@{
    @model IEnumerable<string>;
}

@foreach (var cat in Model)
{
@*
    @todo: use checkboxes for style!

<div class="form-check">
    <input class="form-check-input" type="checkbox" id="@cat\-filter" asp-controller="Home" asp-action="Index">
    <label class="form-check-label" for="@cat\-filter">@cat</label>
</div>
*@
    <div>
        <a class="filter-item @(cat ==  ViewBag.SelectedCategory ? "active" : "")" asp-controller="Home" asp-action="Index" asp-route-category="@cat" asp-route-pageNum="1">@cat</a>
    </div>
}
<div class="">
    <a class="my-4" asp-controller="Home" asp-action="Index" asp-route-category="All" asp-route-pageNum="1">Reset</a>
</div>
